/* Univeral selector for the entire application*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* elemental selectors for body, h2, and p*/
body {
    background-color:rgb(40, 63, 118);
}

h2 {
    font-size: 30px;
}

p {
    font-size:24px
}

/* CSS styling for the header elements*/
.header {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    background-color: darkslateblue;
}

.header h1 {
    display: inline-block;
    font-size: 75px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 35px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul a {
    color: #ffffff;
    text-decoration: none;
}

/*CSS styling for the sub-header*/
.sub-header {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pf-background-image.avif");
    background-size: cover;
    background-position: center;
}

#sub-heading {
    margin: 0px;
    padding: 10px;
    font-size: 40px;
    color: #ffff;
}

/* CSS styling for page-wrapper and page-section which make up the main section of content for the application*/
.page-wrapper {
    width: 100%;
    height: 100%;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
}

/*Styling for images found in work section*/
.page-section img {
    width: 100%;
    height: auto;
}

/*Styling for the picture of me above the "About Me" section*/
#portfolio-pic img {
    width: 50%;
    height: 30%;
}

/*Styling for the links that make up the titles of the work section images*/
#Work a {
    flex: 1 0 100%;
    color:aliceblue;
    text-decoration: none;
}

/*Styling for the contact-me section links*/
#Contact-Me ul {
    float: right;
    list-style-type: none;
}

#Contact-Me ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
}

#Contact-Me ul a {
    color: #ffffff;
    text-decoration: none;
}

/*Styles the images on the page so they have a box shadow when hovered over*/
img:hover {
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

/*media queries for responsive design*/
@media screen and (max-width: 768px) {
    .page-section, .sub-header, .header{
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    ul {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 980px) {
    .pagesection img {
        flex: 1 0 50%;
    }
}